header {
    background-color:rgb(60, 60, 60);
    padding: 20px;
    margin-top: 0px;
    font-weight: bolder;
    color: white;
    text-align: center;
}
.col-2 {
  float: left;
  width: 25%;
  padding: 0 10px;
  column-gap: 10px;
}
.col1 {
display: block;
background-color:#f1f1f1;
height: 250px;
font-style: italic;
font-weight: bolder;

}
.col2 {
   display: block;
   border-style: ridge;
   height: 250px;
   background:rgb(189, 216, 238);
}
button{
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 150px;
  width: 100px;
  text-align: center;
  font-size: 10px;
  color: white;
  background-color: royalblue;
   
}