header {
    background-color:rgb(60, 60, 60);
    padding: 20px;
    margin-top: 0px;
    font-weight: bolder;
    color: white;
    text-align: center;
}
.col-2 {
  float: left;
  width: 25%;
}
.col1 {
background-color:#f1f1f1;
font-style: italic;
font-weight: bolder;
}
.col2 {
   display: block;
   border-style: ridge;
   height: 250px;
   background:rgb(189, 216, 238);
   font-weight: bolder;
}
.button{
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 200px;
  width: 100px;
  text-align: center;
  font-size: 15px;
  color: white;
  background-color: royalblue;
}

@media only screen and (max-width: 1000px) {
  .col-2 {
 float: none;
}}